{% extends 'base.html.twig' %}
{% block title %}Agenda{% endblock %}
{% block body %}
<br>
<div class="container">
   <div class="card text-center" >
      <div class="card-header" style="color: #ce5c2e;">
         Rechercher un événement
      </div>
      <form method="GET" action="{{ path('agenda') }}">
         <div class="card-body">
            <div class="row">
               <div class="col">
                   <label for="">Quelle période ?</label>
                   <select name="periode" class="form-control">
                        <option value="">Choisir</option>
                       <option value="PREHISTOIRE">La Préhistoire</option>
                       <option value="ANTIQUITE">L’ Antiquité</option>
                       <option value="MOYEN_AGE">Le Moyen-Age</option>
                       <option value="TEMPS_MODERN">Les Temps modernes</option>
                       <option value="EPOQUE_CONTEMPORAINE" >L'Époque Contemporaine</option>
                   </select>
               </div>
               <div class="col">
                  <label for="">Date de l'événement</label>
                  <div class="form-group">
                     <input type="datetime-local"  class="form-control" id="meeting-time"
                        name="meeting-time" value="2018-06-12T19:30" name="date">
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
                  <label for="">Ou ?</label>
                  <input type="text" value="" class="form-control" name="localisation" id="" placeholder="Choisir">
               </div>
               <div class="col">
                  <label for="">Mot clé</label>
                  <input type="text" name="key" value="" class="form-control" id="" placeholder="ecrire">
               </div>
            </div>
            <br>
            <div class="row">
               <input type="submit" class="search-bouton" value ="Rechercher">
            </div>
         </div>
      </form>
   </div>
   <!--Fin recherche-->
   <div class="">
      <div style="font-size: x-large; margin: 15px;">
         <p> Les coup de coeur</p>
      </div>
      {% for agenda in agendas %}
      <div class="box-item">
         <div class="row">
            <div class="col-8">
               <a href="{{ path('agendaDetails',{'id':agenda.id}) }}"><strong>{{agenda.name}}</strong></a>
               <p>
               <p>
                  {{agenda.description |raw }}
               </p>
            </div>
            <div class="col-4">
               <img style= "width: 100%;height: 100%" src ="upload/images/agenda/{{agenda.photo}}">
            </div>
         </div>
         <br>
         <div class="row">
            <span class="little-text">Période:{{agenda.periode}}  Spécialité: {{agenda.eventType}} Localisation: {{agenda.localisation}}  Date: {{agenda.date|date('Y-m-d')}} </span>
         </div>
         <br>
         <div class="row">
            <a href="#" class="main-button-slider">Ajouter au favori</a>&nbsp;&nbsp;
            <a href="#" class="main-button">Voir plus</a>
         </div>
      </div>
      {% endfor %}
      <div class="pagination-section">
         {{ knp_pagination_render(agendas) }}
      </div>
      <br>
   </div>
</div>
{% endblock %}


