{% extends 'base.html.twig' %}
{% block title %}Page d'accueil{% endblock %}
{% block body %}
<br>
<div class="container" >
   <div class="card-body">
      <div class="row">
         <div class="col-sm-8">
            <div class="row">
               <h5 style="color: #ce5c2e;">A la une</h5>
            </div>
            <br>
            <p class="home-card-title">Actualité</p>
            <br>
            <div class="row">
               <div class="carre"> </div>
               <div><h6 class="home-card-sub-title"> &nbsp; {{homeActu.title}}</h6></div>
               <br><br>
               <div class="row">
                  <div class="col-sm-7" style="padding: 0;">
                     <p class="home-card-text">{{homeActu.description |raw}}</p>
                  </div>
                  <div class="col-sm-5">
                     <div class="home-card-img">
                        <img style ="width:97%" src="upload/images/actu/{{homeActu.photo}}"alt=""/>
                        
                     </div>
                  </div>
               </div>
            </div>
            <hr class="solid">
            <br>
            <p class="home-card-title">Agenda</p>
            <br>
            <div class="row">
               <div class="carre"> </div>
               <div><h6 class="home-card-sub-title"> &nbsp; {{homeAgenda.name}}</h6></div>
               <br><br>
               <div class="col-sm-7" style="padding: 0;">
                  <p class="home-card-text">{{homeAgenda.description |raw}}</p>
               </div>
               <div class="col-sm-5">
                  <div class="home-card-img">
                     <img src="upload/images/agenda/{{homeAgenda.photo}}"style= "width: 100%"/>
                  </div>
               </div>
            </div>
            <hr class="solid">
            <br>
            <p class="home-card-title">Annuaire</p>
            <br>
            <div class="row">
               <div class="carre"> </div>
               <div><h6 class="home-card-sub-title"> &nbsp;{{homeAnnuaire.name}}</h6></div>
               <br><br>
               <div class="col-sm-7" style="padding: 0;">
                  <p class="home-card-text">{{homeAnnuaire.description |raw}}</p>
               </div>
               <div class="col-sm-5">
                  <div class="home-card-img">
                     <img src="upload/images/annuaire/{{homeAnnuaire.photo}}" style= "width: 100%"/>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="row">
                     <h5 style="color: #ce5c2e;">Coup de coeur</h5>
                  </div>
                  <br>
                  <div class="row heart-card">
                     <div class="d-flex col-sm-3 align-items-center" style="border-right: 1px solid rgba(0, 0, 0, 0.125)">
                        <img src="/img/logo_noir.jpg"
                           style= "width: 100%;" alt="Terres-du-Temps"/>
                     </div>
                     <div class="col-sm-9" >
                        <p class="home-card-title">Histoire</p>
                        <h6 class="home-card-sub-title">Titre de l'actualité</h6>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  
                        </p>
                     </div>
                  </div>
                  <br>
                  <div class="row heart-card">
                     <div class="d-flex col-sm-3 align-items-center" style="border-right: 1px solid rgba(0, 0, 0, 0.125)">
                        <img src="/img/logo_noir.jpg"
                           style= "width: 100%;" alt="Terres-du-Temps"/>
                     </div>
                     <div class="col-sm-9" >
                        <p class="home-card-title">Histoire</p>
                        <h6 class="home-card-sub-title">Titre de l'actualité</h6>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  
                        </p>
                     </div>
                  </div>
                  <br>
                  <div class="row heart-card">
                     <div class="d-flex col-sm-3 align-items-center" style="border-right: 1px solid rgba(0, 0, 0, 0.125)">
                        <img src="/img/logo_noir.jpg"
                           style= "width: 100%;" alt="Terres-du-Temps"/>
                     </div>
                     <div class="col-sm-9" >
                        <p class="home-card-title">Histoire</p>
                        <h6 class="home-card-sub-title">Titre de l'actualité</h6>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  
                        </p>
                     </div>
                  </div>
         </div>
      </div>
   </div>
</div>

<br>
{% endblock %}


